@model TechnologicalPracticeApp.Models.Demand

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление правила экомаркировки</h2>

<h3>Вы действительно хотите удалить данное правило экомаркировки?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Правило
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rule)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn-link" /> |
            @Html.ActionLink("Вернуться к списку правил", "Index")
        </div>
    }
</div>
