@model TechnologicalPracticeApp.Models.EcoType

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление типа маркировки</h2>

<h3>Вы действительно хотите удалить данный тип?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn-link" /> |
            @Html.ActionLink("Вернуться к списку типов", "Index")
        </div>
    }
</div>
