@{
    ViewBag.Title = "Contact";
}
<h2>Keeping in touch</h2>

<address>
    Perm, Russia<br />
    Lev Shatrow Str. 29<br />
    <abbr title="Phone">P:</abbr>
    89194974350
</address>

<address>
    <strong>VK page:</strong> <a href="https://vk.com/martsela">vk.com/martsela</a>
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:mnurev@mail.ru">mnurev@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="mailto:mnurev@mail.ru">mnurev@mail.ru</a>
</address>