
@{
    ViewBag.Title = "IndexAdmin";
}

<div class="jumbotron">
    <h1>Информационная система экомаркировки</h1>
    <p class="lead">Веб-приложение "Информационная система экомаркировки" - приложение, дающее возможность любому желающему узнать немного больше - узнать об экомаркировках!</p>
    <p>
        @if (User.IsInRole("Администратор"))
        {
            <a href="~/Ecolabels/IndexAdmin" class="btn btn-primary btn-lg">Перейти к экомаркировкам &raquo;</a>
        }
        else
        {
            if (User.IsInRole("Авторизованный пользователь"))
            {
                <a href="~/Ecolabels/IndexAuthUser" class="btn btn-primary btn-lg">Перейти к экомаркировкам &raquo;</a>
            }
            else
            {
                <a href="~/Ecolabels/IndexUser" class="btn btn-primary btn-lg">Перейти к экомаркировкам &raquo;</a>
            }
        }

    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>