@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Информационная система экомаркировки</h1>
    <p class="lead">Веб-приложение "Информационная система экомаркировки" - приложение, дающее возможность любому желающему узнать немного больше - узнать об экомаркировках!</p>
    <p>
        @if (User.IsInRole("Администратор"))
        {
            <div class="row">
                <div class="col-md-pull-2">
                    <a href="~/Ecolabels/IndexAdmin" class="btn btn-primary btn-lg">Редактор маркировок &raquo;</a>
                    <a href="~/Companies/Index" class="btn btn-primary btn-lg">Редактор компаний &raquo;</a>
                    <a href="~/Countries/Index" class="btn btn-primary btn-lg">Редактор стран &raquo;</a>
                    <a href="~/Demands/Index" class="btn btn-primary btn-lg">Редактор требований &raquo;</a>
                    <a href="~/EcoTypes/Index" class="btn btn-primary btn-lg">Редактор типов &raquo;</a>
                </div>
                @*<div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>*@
            </div>
        }
        else
        {
            if (User.IsInRole("Авторизованный пользователь"))
            {
                <a href="~/Ecolabels/IndexAuthUser" class="btn btn-primary btn-lg">Перейти к экомаркировкам &raquo;</a>
            }
            else
            {
                <a href="~/Ecolabels/IndexUser" class="btn btn-primary btn-lg">Перейти к экомаркировкам &raquo;</a>
            }
        }
    </p>
</div>
@{
    List<string> facts = new List<string>
{
"Экологичной можно назвать продукцию, при производстве которой не наносится вред окружающей среде. Используя экологичную продукцию, потребитель может не опасаться за свое здоровье. На упаковку таких безопасных товаров стали наносить знаки экологической безопасности или экомаркировку.",
"Каждый из нас может внести свой вклад, чтобы мир вокруг стал чище. Всех нас должно волновать здоровье нашей планеты — нашего дома. Ведь другого дома у нас пока нет.",
"Не покупайте лампочки накаливания: несмотря на низкую стоимость, они используют в 3-5 раз больше электроэнергии, а служат меньше экологичной альтернативы",
"Экономьте электроэнергию: помимо обычного 'Выходя из комнаты, гасите свет', также не оставляйте зарядные устройства в розетке, выключайте компьютер на ночь и т. д.",
"Используйте меньше одноразового пластика: при сжигании пластик выделяет в атмосферу ядовитые вещества и разлагается сотни лет. В магазин берите многоразовую сумку, используйте бутылки с водой несколько раз.",
"Сортируйте мусор: впечатляющие фото бескрайних мусорных свалок ужаснут даже не заботящегося об экологии человека. Задумайтесь: алюминиевая банка разлагается 500 лет, стекло - 1000.",
"Не все вещи можно выкидывать: некоторые отходы выкидывать в мусор просто опасно (например, использованные батарейки и лампочки), однако эти предметы можно сдать в специальные пункты.",
"Ищите новое применение вещам: прежде чем что-то выкинуть, подумайте: может, на этом листе еще можно что-то написать, а стеклянные банки сойдут за неплохой хипстерский светильник?",
"Выбирайте товары, сделанные из вторсырья: все больше и больше брендов в наши дни стараются заботиться об экологии. Поэтому, если есть альтернатива, старайтесь выбирать именно такие продукты.",
"Старайтесь экономить воду: если всерьез задуматься и начать обращать внимание, Вы поймете, как много лишней воды утекает каждый день из крана. Тратятся тем самым не только ресурсы планеты, но и Ваши собственные.",
"Экологично готовьте: не кипятите для готовки больше воды, чем нужно, закрывайте кастрюлю крышкой или и вовсе подогревайте в чайнике, ради экономия энергии, используйте остаточное тепло",
"Не используйте бытовую химию: она не только превращает реки и озера в болота, но и опасна для здоровья. Можно заменить на соду, уксус, горчичный порошок.",
"Ешьте меньше мясных продуктов: на производство мяса ежегодно уходит колоссальное количество ресурсов. Кроме того, животноводство является причиной 51% всех выбросов парниковых газов на Земле.",
"Покупайте местные продукты: чем ближе к магазины был произведен купленный помидор, тем меньше ресурсов ушло на то, чтобы он попал с грядки в Ваш холодильник",
"Пересаживайтесь с личного автомобиля: т.к. экологичные автомобили в нашей стране пока что являются редкостью, остается пересаживаться на велосипед, общественный транспорт, больше ходить пешком."
};

    //Random rnd = new Random();
    //rnd.Next()

}
<div>
    <h2>Экология - наше все!</h2>
    <div class="row">
        <div class="col-md-4">
            <p>
                <h4>
                    @{
                        Random rnd = new Random();
                        int first = rnd.Next(0, facts.Count);
                    }
                    @facts[first];
                </h4>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <h4>
                    @{
                        int second = rnd.Next(0, facts.Count);
                        while (second == first)
                        {
                            second = rnd.Next(0, facts.Count);
                        }
                    }
                    @facts[second];
                </h4>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <h4>
                    @{ 
                        int third = rnd.Next(0, facts.Count);
                        while (third == first || third == second)
                        {
                            third = rnd.Next(0, facts.Count);
                        }
                    }
                    @facts[third];
                </h4>
            </p>
        </div>
    </div>
</div>